<footer class="footer">
    <div>
        <a href="{{ footer.link_facebook }}"><i class="fa fa-facebook"></i> Facebook</a>
        <a href="{{ footer.link_instagram }}"><i class="fa fa-instagram"></i> Instagram</a>
        <a href="{{ footer.link_tiktok }}"><i class="fa-brands fa-tiktok"></i> TikTok</a>
    </div>
    <div>
        <p><i class="fa fa-phone"></i> Phone: {{ footer.phone }}</p>
        <p><i class="fa fa-envelope"></i> Email: {{ footer.email }}</p>
        <p><i class="fa fa-map-marker"></i> Address: {{ footer.address }}</p>
    </div>
</footer>
