<nav id="sidebar" class="active">
    <div class="sidebar-header">
        <img style="height: 25px; width: 25px;" src="../static/img/Vietnam-Choose-Location.jpg" alt="bootraper logo" class="app-logo">
    </div>
    <ul class="list-unstyled components text-secondary">
        <li>
            <a href="/dashboard"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li>
            <a href="#homePageMenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-layer-group"></i> Home Page</a>
            <ul class="collapse list-unstyled" id="homePageMenu">
                <li>
                    <a href="/edit_home_page_description"><i class="fas fa-angle-right"></i>  Edit home page decriptions</a>
                </li>
                <li>
                    <a href="/edit_home_page_main_section"><i class="fas fa-angle-right"></i> Edit home page main menu</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#beachBarMenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-layer-group"></i> Beach Bar & Restaurant</a>
            <ul class="collapse list-unstyled" id="beachBarMenu">
                <li>
                    <a href="/edit_beach_bar_restaurant_info"><i class="fas fa-angle-right"></i> Restaurant Information</a>
                </li>
                <li>
                    <a href="/edit_beach_bar_restaurant_foods"><i class="fas fa-angle-right"></i> Foods</a>
                </li>
                <li>
                    <a href="/edit_beach_bar_restaurant_drinks"><i class="fas fa-angle-right"></i> Drinks</a>
                </li>
                <li>
                    <a href="/edit_beach_bar_restaurant_info"><i class="fas fa-angle-right"></i> Restaurant Information</a>
                </li>
                <li>
                    <a href="/edit_beach_bar_restaurant_menu"><i class="fas fa-angle-right"></i> MENU</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#accomodation" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-layer-group"></i> Accomodation</a>
            <ul class="collapse list-unstyled" id="accomodation">
                <li>
                    <a href="/edit_accommodation_info"><i class="fas fa-angle-right"></i> Accommodation Information</a>
                </li>
                <li>
                    <a href="/edit_accommodation_room_info"><i class="fas fa-angle-right"></i> Room</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#activities" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-layer-group"></i> Activities</a>
            <ul class="collapse list-unstyled" id="activities">
                <li>
                    <a href="/edit_activities"><i class="fas fa-angle-right"></i> Edit Activities</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#getting_here" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-layer-group"></i> Getting Here</a>
            <ul class="collapse list-unstyled" id="getting_here">
                <li>
                    <a href="/edit_getting_here_info"><i class="fas fa-angle-right"></i> Edit Getting Here Information</a>
                </li>
                <li>
                    <a href="/edit_getting_here"><i class="fas fa-angle-right"></i> Edit Getting Here</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#our_story" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-layer-group"></i> About Us</a>
            <ul class="collapse list-unstyled" id="our_story">
                <li>
                    <a href="/edit_our_story"><i class="fas fa-angle-right"></i> Our Story</a>
                </li>
                <li>
                    <a href="/edit_tourism_benefit_everyone"><i class="fas fa-angle-right"></i> Tourism Benefit Everyone</a>
                </li>
                <li>
                    <a href="/edit_user"><i class="fas fa-angle-right"></i>Team</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="settings.html"><i class="fas fa-cog"></i>Settings</a>
        </li>
    </ul>
</nav>